<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" />
    <link rel="stylesheet" href="/css/style.css">
    <title>Світ книг</title>
</head>

<body>
    <header class="inner">
        <h2><a href="/"><i class="fas fa-book"></i>
                Світ книг</a></h2>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/books">Усі книги</a>
                </li>
                <li>
                    <a href="/books/add">Додати книгу</a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="container"><img src=<%= book.imgString %>>
       <div> <h2><%= book.title %></h2>
        <h4><%= book.author %></h4></div>
        <div><span><%= book.description %></span></div>
        <br><br>
       <h5> Видання: <%= book.year %> рік</h5> 
        <h5>Ціна: <%= book.price %> грн.</h5>

        <input type="submit" value="Купити">
    </div>






</body>


</html>